@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import '~typeface-roboto';



body {
  background-color: #012533;
  color: white;
  font-family: 'Roboto', sans-serif;
}